<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Simple Blog{% endblock %}</title>
</head>
<body>
    <header>
        {% if request.path == '/' %}
            <h1>Simple Blog</h1>
        {% else %}
            <p><a href="{% url 'simple_blog:index' %}">Simple Blog</a></p>
        {% endif %}
        {% if user.is_authenticated %}
            <p>ようこそ、 {{ user.username }} さん</p>
            <p><a href="{% url 'simple_blog:create' %}">記事作成ページ</a></p>
            <form action="{% url 'logout' %}" method="POST">
                {% csrf_token %}
                <div>
                    <button type="submit">ログアウト</button>
                </div>
            </form>
        {% else %}
            <p><a href="{% url 'login' %}">ログイン</a></p>
        {% endif %}
    </header>
    {% block content %}{% endblock %}
</body>
</html>