{% extends 'components/base.html' %}
{% block title %}{{ author.username }} の記事一覧 | {{ block.super }}{% endblock %}
{% block content %}
    <h1>{{ author.username }} の記事一覧</h1>
    <ul class="articles list-group mt-3">
        {% for article in page_obj %}
            <li class="article list-group-item">
                <p class="fs-3"><a href="{% url 'simple_blog:show' id=article.id %}" class="text-decoration-none">{{ article.title }}</a></p>
                <p class="fs-5">{{ article.content|truncatechars:50 }}</p>
                <div class="d-flex flex-column flex-sm-row">
                    <p class="fs-6 me-3 mb-3">投稿者：<a href="{% url 'simple_blog:author' id=article.user.id %}" class="text-decoration-none">{{ article.user }}</a></p>
                    <p class="fs-6 me-3 mb-3">投稿日：<time datetime="{{ article.created_at|date:'Y-m-d' }}">{{ article.created_at|date:'Y/m/d' }}</time></p>
                    <p class="fs-6">更新日：<time datetime="{{ article.updated_at|date:'Y-m-d' }}">{{ article.updated_at|date:'Y/m/d' }}</time></p>
                </div>
            </li>
        {% empty %}
            <li class="list-group-item">投稿された記事はありません。</li>
        {% endfor %}
    </ul>

    {% include 'includes/pagination.html' %}
{% endblock %}