<header class="position-fixed w-100 top-0 start-0 z-3">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            {% if request.path == '/' %}
                <h1 class="navbar-brand">Simple Blog</h1>
            {% else %}
                <p class="navbar-brand h1">
                    <a href="{% url 'simple_blog:index' %}" class="text-black text-decoration-none">Simple Blog</a>
                </p>
            {% endif %}
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                {% if user.is_authenticated %}
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link{% if request.path == '/article/create/' %} active{% endif %}" href="{% url 'simple_blog:create' %}">記事作成ページ</a>
                        </li>
                    </ul>
                    <p>ようこそ、 {{ user.username }} さん</p>
                    <form action="{% url 'logout' %}" method="POST">
                        {% csrf_token %}
                        <div>
                            <button type="submit" class="btn btn-secondary">ログアウト</button>
                        </div>
                    </form>
                {% else %}
                    <p><a href="{% url 'login' %}" class="btn btn-primary">ログイン</a></p>
                {% endif %}
            </div>
        </div>
    </nav>
</header>